.film-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.main-screen-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sort-button{
    margin-left: 10px;
}
.film-spin{
    margin-top: 20px;
}
